.gallery_area{
    margin-bottom: 55px;
    @media #{$large-mobile}{
       margin-bottom: 25px;
    }
    & .section_title{
        text-align: center;
        margin-bottom: 30px;
        & h2{
            color: #1a1b35;
            font-size: 28px;
            font-weight: 700;
            position: relative;
            text-transform: capitalize;
            line-height: 33px;
            display: inline-block;
            @media #{$large-mobile}{
               font-size: 22px;
            }
            &::before{
                position: absolute;
                content: "";
                width: 100px;
                height: 2px;
                background: #bf9a5c;
                bottom: -10px;
                left: 0;
                @media #{$large-mobile}{
                   left: -14px;
                }
            }
        }
    }
    & .gallery_items{
        margin-bottom: 30px;
        @media #{$large-mobile}{
            margin-bottom: 0;
        }
        & .col-lg-4{
            @media #{$large-mobile}{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        & .col-lg-5{
            @media #{$large-mobile}{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        & .col-lg-3{
            @media #{$large-mobile}{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        &:last-child{
            margin-bottom: 0;
        }
        & .single_gallery{
            @media #{$large-mobile}{
                margin-bottom: 30px;
            }
        }
        
    }
}

.gallery_items  {
    .col-lg-3{
        min-width: 30%;
        flex: 0 0 30%;
        max-height: 305px;
        @media #{$large-mobile}{
            max-height: unset;
        }
        overflow: hidden;
    }
}
.gallery_items  {
    .col-lg-5{
       min-width: 40%;
        flex: 0 0 40%;
        max-height: 305px;
        @media #{$large-mobile}{
            max-height: unset;
        }
        overflow: hidden;
    }
}
.gallery_active.owl-carousel .owl-nav div {
	position: absolute;
	top: 50%;
	left: -34px;
	transform: translatey(-50%);
	font-size: 56px;
    @media #{$desktop-device}{
       left: 0px;
    }
    @media #{$large-mobile}{
       display: none;
    }
}
.gallery_active.owl-carousel .owl-nav div.owl-next{
    right: -34px;
    left: auto;
    @media #{$desktop-device}{
       right: 0px;
    }
        
}